body {
  margin: 0;
  padding: 0;
  background-color: #060a13;
  color: #00ff66;
  font-family: monospace;
}

.ticker-tape {
  background: #010409;
  border-bottom: 2px solid #00d2ff;
  padding: 10px;
}
